[Unit]
Description=letmeind daemon
Requires=letmeinfwd.service
After=letmeinfwd.service
PartOf=letmeind.socket
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/letmein/bin/letmeind
RuntimeDirectory=letmeind
RuntimeDirectoryMode=0750
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
User=letmeind
Group=letmeind
Nice=0

[Install]
# Don't do socket-activation. Always start the service.
WantedBy=multi-user.target
