[Unit]
Description=letmeind daemon socket
PartOf=letmeind.service

[Socket]
ListenStream=5800
BindIPv6Only=both
Accept=no

[Install]
WantedBy=sockets.target
