[Unit]
Description=letmeind daemon socket
Requires=letmeind.service nftables.service
After=nftables.service

[Socket]
ListenStream=5800
BindIPv6Only=both
Accept=no

[Install]
WantedBy=multi-user.target
