[Unit]
Description=letmeind daemon
Requires=nftables.service
After=nftables.service
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/letmein/bin/letmeind
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
User=root
Group=root
Nice=0
#Environment=RUST_BACKTRACE=1
