[Unit]
Description=letmeinfwd daemon
Requires=letmeinfwd.socket nftables.service
PartOf=letmeinfwd.socket
StartLimitIntervalSec=0

[Service]
Type=notify
NotifyAccess=main
ExecStart=/opt/letmein/bin/letmeinfwd --seccomp=log
ExecReload=/bin/kill -HUP $MAINPID
RuntimeDirectory=letmeinfwd
RuntimeDirectoryMode=0750
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=10
User=root
Group=letmeind
Nice=0
#Environment=RUST_BACKTRACE=1

[Install]
# We can't do socket-activation.
# This service opens the letmeind communication port.
WantedBy=multi-user.target
