name: Build and test

on:
  push:
  pull_request:

env: 
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  MIRIFLAGS: -Zmiri-disable-isolation

jobs:
  main:
    name: Main
    strategy:
      matrix:
        toolchain:
          - name: msrv
            version: 1.83.0
          - name: latest
            version: 1.92.0
          - name: nightly
            version: nightly
        os:
          - name: linux
            version: ubuntu-latest
          - name: windows
            version: windows-latest
          - name: macos
            version: macos-latest
    runs-on: ${{ matrix.os.version }}

    steps:
      - uses: actions/checkout@v6

      - name: Cache Rust
        uses: actions/cache@v5
        with:
          path: ~/.rustup
          key: rustup-${{ matrix.os.version }}-${{ matrix.toolchain.version }}
      - name: Cache Cargo
        uses: actions/cache@v5
        with:
          path: ~/.cargo
          key: cargo-${{ matrix.os.version }}-${{ matrix.toolchain.version }}

      # Install toolchain
      - run: rustup update ${{ matrix.toolchain.version }}
      - run: rustup default ${{ matrix.toolchain.version }}
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'latest'
        run: rustup component add clippy
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'nightly'
        run: rustup component add rust-src miri

      # Build
      - if: matrix.os.name == 'linux'
        run: cargo build --verbose
      - if: matrix.os.name != 'linux'
        run: cargo build --verbose --package letmein

      # Run tests on Linux
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'latest'
        run: sh ./tests/run-tests.sh
      - if: matrix.os.name == 'linux' && matrix.toolchain.name != 'latest'
        run: sh ./tests/run-tests.sh --no-clippy
      - if: matrix.os.name == 'linux' && matrix.toolchain.name == 'nightly'
        run: cargo miri test

      # Run tests on non-Linux
      - if: matrix.os.name != 'linux'
        run: cargo test --package letmein
      - if: matrix.os.name != 'linux'
        run: cargo test --package letmein-conf
      - if: matrix.os.name != 'linux'
        run: cargo test --package letmein-proto

# vim: ts=2 sw=2 expandtab
